<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head") %>
        <link rel="stylesheet" href="/styles/create.css">
</head>

<body>
    <%- include("includes/header") %>
        <main>
            <h1>Update Post</h1>
            <form action="/posts/<%= post.id %>/edit" method="post">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" id="title" value="<%= post.title %>" name="title" required>
                </div>
                <div class="form-control">
                    <label for="by">By</label>
                    <input type="text" id="by" name="by" value="<%= post.name %>" required maxlength="255">
                </div>
                <div class="form-control">
                    <label for="content">Content</label>
                    <textarea id="content" name="content" required rows="5"><%= post.content %></textarea>
                </div>
                
                <button class="btn btn2">Update Post</button>
            </form>
        </main>
</body>

</html>